@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.cdnfonts.com/css/Lufga");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.body{
  background-image: url('../../assets/gradient_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.mainContainer {
  width: 35%;
  /* margin: 8rem auto 0; */
  padding: 1rem;
  text-align: center;
  background: #FFFFFF;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.login__logo {
  display: grid;
  place-content: center;
  margin: 0.5rem auto;
}

.forgotpasswordText {
  margin-top: 3rem;
}

.forgotpasswordQuestion {
  font-family: Lufga !important;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.4375rem;
  text-align: left;
  color: #000000;
}

.resetInstructions {
  font-family: Satoshi !important;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  text-align: left;
  color: #6f767e;
}

.forgotpasswordTextbox {
  width: 23.125rem;
  margin: 3rem auto 0;
  text-align: left;
}

.form {
  width: 23.125rem;
}

.emailText {
  font-family: "Satoshi";
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.37264636158943176px;
  text-align: center;
}

input {
  width: 100%;
  height: 2.8125rem;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  border-radius: 0.75rem;
  border: 1px solid #e4e4e4;
  margin-top: 0.125rem;
  box-sizing: border-box;
  font-size: 1rem;
}

.forgotPasswordBtn {
  background: var(--secondary-colour) !important;
  width: 23.125rem;
  height: 2.625rem;
  padding: 0.625rem 1.375rem;
  border-radius: 2.625rem;
  border: none;
  margin-top: 2rem;
  font-family: "Satoshi";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
}

.rememberpasswordQuestionRow {
  padding-top: 2rem;
}

.rememberpasswordQuestion {
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: #6f767e;
}
