@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.cdnfonts.com/css/Lufga");

.product_details_main_div {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.product_name {
  font-family: Satoshi;
  font-size: 30px;
  font-weight: 700;
  /* line-height: 75.6px; */
  /* text-align: left; */
  color: #000000;
}

.navigation {
  position: absolute;
  top: 23rem;
  transform: translateY(-50%);
  width: 589px;
  display: flex;
  justify-content: space-between;
}

.navigation button {
  background: transparent;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
  font-weight: bolder;
}

.thumbnails {
  display: flex;
  cursor: pointer;
  margin-top: 1rem;
  gap: 8px;
}

.personal_card {
  margin-top: 2.55rem;
  width: 330px;
  height: 223px;
  top: 278px;
  left: 1002px;
  padding: 38px 19px 37.71px 18px;
  gap: 0px;
  border-radius: 12px;
  border: 1px solid #e1e1e1;
  opacity: 0px;
}

.contact_details_card {
  display: flex;
}

.store_name {
  font-family: Satoshi;
  font-size: 15px;
  font-weight: 700;
  /* line-height: 26.86px; */
  text-align: left;
  color: #000000;
}

.contact_name {
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;
  color: #525866;
}

.social_icons {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
}
