@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/Lufga');

.main-container{
    /* border: 1px black solid ; */
    width: 50%;
    margin: 0 auto;
    margin-top: 13rem;
    text-align: center;
    
}

.logo{
    display: flex;
    gap: 1px;
    margin-left: 20rem;
    /* padding-left: 20rem;
    margin-top: 15rem; */
    
    /* grid-template-columns: 1fr 1fr; */
}
.logo-text{
    font-family: Lufga;
    font-size: 16px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0em;
}

.logo-icon{
    width: 26px;
    height: 26px;
    top: 137.5px;
    left: 654px;
}

.forgotpassword-text{
    margin-top: 5rem;
}

.forgotpassword-question{
    font-family: Lufga;
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    /* width: Hug (319px);
    height: Hug (66px);
    top: 243px;
    left: 596.5p;
    gap: 5px; */

}

/* .instruction-row{
    width: 319px;
    height: 22px;
    text-align: center;

} */

.reset-instructions{
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #6F767E;

}

.forgotpassword-textbox{
    width: Hug (370px);
    height: Hug (192px);
    top: 341px;
    /* left: 571px; */
    gap: 32px;
    margin-top: 3rem;
    text-align: left;
    margin-left: 15rem;

}

.form{
    width: Hug (370px);
    height: Hug (134px);
    gap: 20px;
    
    
}

.email-text{
    font-family: Satoshi;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.37264636158943176px;
    text-align: center;
}

input{
    width: 370px;
    height: 45px;
    padding: 12px, 231px, 12px, 12px;
    border-radius: 12px;
    border: 1px #E4E4E4 solid;
    margin-top: 2px;
}

.forgotpassword-btn{
    background: #00A6A6;
    width: 370px;
    height: 42px;
    padding: 10px, 22px, 10px, 22px;
    border-radius: 42px;
    gap: 10px;
    border: none;
    margin-top: 2rem;
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    color: #ffff;

}

.rememberpassword-question-row{
    padding-top: 2rem;
}

.rememberpassword-question{
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    color: #6F767E;
    /* text-align: left; */

}




