@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.cdnfonts.com/css/Lufga");

:root {
  --primary-colour: #00a6a6;
  --secondary-colour: #191c1f;
  --neutral-colour: #6f767e;
  --primary-font: Lufga;
  --secondary-font: Satoshi;
}

.Container {
  max-width: 50%;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
}

.logo {
  margin: 1rem auto;
}

.getting-started {
  display: grid;
  place-content: center;
  margin-bottom: 1rem;
}

.gettting-started-heading {
  color: var(--secondary-colour);
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.getting-started-sub {
  color: var(--neutral-colour);
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 500;
}

.signup-form{
   display: grid;
   place-content: center;
   gap: 1.5rem;
}

label{
    display: block;
    color: #000;
    font-family: Satoshi;
    font-size: 14px;
    font-weight: 500;
}