@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.cdnfonts.com/css/Lufga");

:root {
  --primary-colour: #00a6a6;
  --secondary-colour: #191c1f;
  --neutral-colour: #6f767e;
  --primary-font: Lufga;
  --secondary-font: Satoshi;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.verify {
  max-width: 50%;
  margin: 5rem auto;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
}

.verify__logo {
  display: grid;
  place-content: center;
  margin: 2rem auto;
}

.verify__header {
  display: grid;
  place-content: center;
  margin-bottom: 1rem;
}

.verify__header__title {
  color: var(--secondary-colour);
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.verify__header__subtitle {
  color: var(--neutral-colour);
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  width: 319px;
}

.verify__header__subtitle > span {
  color: var(--primary-colour);
}

.verify__form__boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 2rem;
}

.verify__form__boxes > input {
  font-family: var(--primary-font);
  color: var(--secondary-colour);
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  outline: none;
}

.verify__info {
  display: grid;
  place-content: center;
}

.verify__info__resend {
  color: var(--neutral-colour);
  font-family: Satoshi;
  font-size: 1rem;
  text-align: center;
}

.verify__info__resend > a {
  color: var(--primary-colour);
  font-weight: 600;
  text-decoration: none;
}

.verify__info__resend > a:hover {
  opacity: 80%;
}

.verify__btn {
  font-family: Satoshi;
  font-size: 16px;
  color: white;
  font-weight: 500;
  border-radius: 42px;
  border: none;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    var(--primary-colour) !important;
  width: 370px;
  padding: 10px 22px;
  cursor: pointer;
}

.verify__btn:hover {
  opacity: 80%;
}
