@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.cdnfonts.com/css/Lufga");


.particles-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure particles are behind other content */
}


.body{
  background-image: url('../../assets/gradient_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  z-index: 1;
}

.firstRow{
  justify-content: center;
  align-items: center;
  /* background-color: #ffffff; */
  padding: 1.4rem;
  border-radius: 32px;
  position: relative;
  z-index: 2;
}

.main-container-new-password {
  width: 35%;
  background: #FFFFFF;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
} 

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 3rem;
}

.logo-text {
  font-family: "Lufga";
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.875rem;
  color: #000000 !important;
}

.logo-icon {
  width: 1.625rem;
  height: 1.625rem;
}

.forgotpassword-text {
  margin-top: -2rem;
  color: #000000;
  text-align: center;
  margin-bottom: 1rem;
}

.forgotpassword-question {
  font-family: Lufga;
  font-size: 30px;
  font-weight: 700;
  line-height: 39.16px;
  text-align: left;
  color: #000000;
}

.showPassIcon {
  margin-top: -2.98rem;
  margin-left: 20.89rem;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.new-password-textbox{
  padding: 0.5rem 0;
}

.new-password-row {
  width: 22.5rem;
  padding-left: 0;
  margin: 0 auto;
}

.new-password-instructions {
  font-family: "Satoshi" !important;
  font-size: 15px;
  font-weight: 500;
  line-height: 1rem;
  color: #6f767e;
}

.text-class{
  font-weight: bold;
}

input {
  width: 100%;
  height: 2.8125rem;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  border-radius: 0.75rem;
  border: 1px solid #e4e4e4;
  margin-top: 0.125rem;
  box-sizing: border-box;
  font-size: 1rem;
}

/* .new-password-textbox {
  margin-top: -1rem;
} */

.set-new-password-btn {
  background: var(--secondary-colour) !important;
  width: 23.125rem;
  height: 2.625rem;
  padding: 0.625rem 1.375rem;
  border-radius: 2.625rem;
  border: none;
  margin-top: 2rem;
  font-family: "Satoshi";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: #fff;
  cursor: pointer;
  margin-left: 1rem;
  margin-top: -4px;
}

.rememberpassword-question-row {
  padding-top: 2rem;
}

.rememberpassword-question {
  font-family: "Satoshi";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: #6f767e;
}
