@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.cdnfonts.com/css/Lufga");

.main-container-new-password {
  max-width: 90%;
  margin: 2rem auto 0;
  text-align: center;
}

.center {
  width: Hug (370px) px;
  height: Hug (318px) px;
  top: 353px;
  left: 571px;
  gap: 32px;
  opacity: 0px;
  margin-left: -3rem;
  margin-top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 3rem;
  /* margin-left: 36rem; */
}

.logo-text {
  font-family: "Lufga";
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.875rem;
  color: #000000 !important;
}

.logo-icon {
  width: 1.625rem;
  height: 1.625rem;
}

.forgotpassword-text {
  margin-top: -1.5rem;
  color: #000000;
}

.forgotpassword-question {
  font-family: Lufga;
  font-size: 30px;
  font-weight: 700;
  line-height: 39.16px;
  text-align: left;
  color: #000000;
}

.showPassIcon {
  /* position: absolute; */
  /* top: 50%; */
  margin-top: -2.98rem;
  margin-left: 20.89rem;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.new-password-row {
  width: 22.5rem;
  padding-left: 0;
  margin: 0 auto;
}

.new-password-instructions {
  font-family: "Satoshi" !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 1rem;
  color: #6f767e;
}

.otp-textbox,
.new-password-textbox,
.confirm-password-textbox {
  width: 23.125rem;
  margin-left: 25rem;
  text-align: left;
  margin-top: 1px;
}

.form {
  width: 23.125rem;
  /* margin-bottom: 2rem; */
}

.email-text {
  font-family: "Satoshi";
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.37264636158943176px;
  color: #000000;
}

input {
  width: 100%;
  height: 2.8125rem;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  border-radius: 12px;
  border: 1px solid #e4e4e4;
  /* margin-top: 0.125rem; */
  box-sizing: border-box;
  font-size: 1rem;
}

/* .new-password-textbox {
  margin-top: -1rem;
} */

.set-new-password-btn {
  background: #00a6a6 !important;
  width: 23.125rem;
  height: 2.625rem;
  padding: 0.625rem 1.375rem;
  border-radius: 2.625rem;
  border: none;
  margin-top: 2rem;
  font-family: "Satoshi";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: #fff;
  cursor: pointer;
}

.rememberpassword-question-row {
  padding-top: 2rem;
}

.rememberpassword-question {
  font-family: "Satoshi";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: #6f767e;
}
