@import url("https://fonts.cdnfonts.com/css/satoshi");

.navbar {
  margin-top: -2rem;
}

.navbar-nav {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  gap: 1rem;
}

.navbar-nav .nav-item {
  margin: 0 1rem;
}

.nav-text {
  font-family: satoshi;
  color: #153d6e !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  padding-left: -30rem;
}

.dropdown-link .nav-link {
  font-family: satoshi;
  color: #153d6e !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  padding-left: -30rem;
}

.header-second {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-second .nav-link {
  margin-right: 1rem;
}

.search.form-control {
  border-radius: 93px !important;
}

.search-container {
  position: relative !important;
  margin-right: 20px;
}

.glass {
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
}

.start_selling_btn {
  color: #b6975d !important;
  font-size: 14px;
  background: white !important;
  display: flex;
  width: 140px !important;
  padding: 10px 22px !important;
  justify-content: center;
  align-items: center;
  border-radius: 42px;
  border: 1px solid #b6975d !important;
}

.start_btn {
  color: #fff !important;
  font-size: 14px;
  background: #b6975d !important;
  display: flex;
  width: 140px !important;
  padding: 10px 22px !important;
  justify-content: center;
  align-items: center;
  border-radius: 42px;
}
