@import url('https://fonts.cdnfonts.com/css/satoshi');

/* .navbar {
    background-color: #f8f9fa; /* Change this to your desired background color 
  } */
  
  .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    text-transform: capitalize;
    
  }

  .nav_text{
    font-family: satoshi;
    color: #000000 !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

  }

  
  .navbar-nav .nav-item {
    margin: 0 1rem; /* Adjust the spacing between nav items */
    
  }

  .dropdown-link .nav-link {
    color: black !important; /* Set the color to black for the dropdown title */
  }