.hero__section {
  margin: 80px 117px;
}

.hero__section__heading {
  color: #000;
  text-align: center;
  font-family: Lufga;
  text-transform: none;
  font-size: 42px;
  font-weight: 700;
  width: 662px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.hero__section__paragraph {
  color: #5d5d5d;
  text-align: center;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin: 0 auto;
}

.why__section {
  background: #f2f8ff;
  display: flex;
  flex-direction: column;
  padding: 50px 117px;
  align-items: center;
}

.why__section__heading {
  color: #000;
  text-align: center;
  font-family: Lufga;
  text-transform: none;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 35px;
}

.why__section__reasons {
  display: flex;
  align-items: center;
  gap: 61px;
}

.reasons__numbering {
  color: #717171;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}

.reasons__heading {
  color: #000;
  text-transform: none;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.reasons__paragraph {
  color: #717171;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.team__section {
  display: flex;
  flex-direction: column;
  padding: 50px 117px;
  align-items: center;
}

.team__section__heading {
  color: #000;
  text-align: center;
  text-transform: none;
  font-family: Lufga;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
}

.team__members {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 50px;
}

.team__member {
  width: 269.225px;
  border-radius: 16.466px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  overflow: hidden;
}

.team__member:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.team__member__img {
  width: 100%;
}

.team__member__details {
  margin: 15px;
}

.team__member__name {
  text-transform: none;
  color: #000;
  font-family: Lufga;
  font-size: 18px;
  font-weight: 500;
}

.team__member__role {
  color: #717171;
  font-family: Satoshi;
  font-size: 15px;
  font-weight: 500;
}
