@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.cdnfonts.com/css/Lufga");

:root {
  --primary-colour: #00a6a621;
  --secondary-colour: #191c1f;
  --neutral-colour: #6f767e;
  --primary-font: Lufga;
  --secondary-font: Satoshi;
}

.signup {
  max-width: 50%;
  margin: 0.5rem auto;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
}

.signup__logo {
  display: grid;
  place-content: center;
  margin: 1rem auto;
}

.signup__header {
  display: grid;
  place-content: center;
  margin-bottom: 1rem;
}

.signup__header__title {
  color: var(--secondary-colour);
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.signup__header__subtitle {
  color: var(--neutral-colour);
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 500;
}

.signup__form {
  display: grid;
  place-content: center;
  gap: 1.5rem;
}


.signup__input {
  width: 100%;
  height: 2.8125rem;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  border-radius: 0.75rem;
  border: 1px solid #e4e4e4;
  margin-top: 0.125rem;
  box-sizing: border-box;
  font-size: 1rem;
}

.signup__form > Form > div {
  position: relative;
}

img.showIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.signup__form__label {
  display: block;
  margin-bottom: 0.2rem;
  color: #000;
  font-family: Satoshi;
  font-size: 14px;
  font-weight: 500;
}

/* .btn { */
.signup__btn {
  font-family: Satoshi;
  font-size: 16px;
  color: white;
  font-weight: 500;
  border-radius: 42px;
  border: none;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    var(--primary-colour);
  display: flex;
  width: 370px;
  padding: 10px 22px;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.signup__btn:hover {
  opacity: 80%;
}

.signup__info {
  color: var(--neutral-colour);
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 500;
  width: 363px;
  height: 66px;
  flex-shrink: 0;
}

.signup__info__terms > a {
  color: var(--neutral-colour);
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 600;
}

.signup__info__login > a {
  color: var(--primary-colour);
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 600;
}

.signup__info__terms > a:hover,
.signup__info__login > a:hover {
  opacity: 80%;
}
