@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.cdnfonts.com/css/Lufga");

:root {
  --primary-colour: #153d6e !important;
  --secondary-colour: #b6975d !important;
  --neutral-colour: #6f767e !important;
  --primary-font: Lufga;
  --secondary-font: Satoshi;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.particles-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure particles are behind other content */
}

.body {
  background-image: url('../../assets/gradient_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  z-index: 1;
}

.signup {
  max-width: 50%;
  margin: 0.5rem auto;
  padding: 1.7rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  background: #ffffff;
  border-radius: 32px;
  position: relative;
  z-index: 2;
}

.signup__logo {
  display: grid;
  place-content: center;
  margin: 0.2rem auto;
}

.signup__header {
  display: grid;
  place-content: center;
  margin-bottom: 1rem;
}

.signup__header__title {
  color: #191c1f;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.signup__header__subtitle {
  color: var(--neutral-colour);
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 500;
}

.signup__form {
  display: grid;
  place-content: center;
  gap: 1.2rem;
}

.signup__input {
  width: 100%;
  height: 2.8125rem;
  padding: 0.75rem;
  border-radius: 0.75rem;
  border: 1px solid #e4e4e4;
  margin-top: 0.125rem;
  box-sizing: border-box;
  font-size: 1rem;
}

.signup__form > Form > div {
  position: relative;
}

img.showIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.signup__form__label {
  display: block;
  margin-bottom: 0.2rem;
  color: #000;
  font-family: Satoshi;
  font-size: 14px;
  font-weight: 500;
}

.signup__btn {
  font-family: Satoshi;
  font-size: 16px;
  color: white;
  font-weight: 500;
  border-radius: 42px;
  border: none;
  background: var(--secondary-colour) !important;
  display: flex;
  width: 370px;
  padding: 10px 22px;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.signup__btn:hover {
  opacity: 80%;
}

.signup__info {
  color: var(--neutral-colour);
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 500;
  width: 363px;
  height: 66px;
  flex-shrink: 0;
}

.signup__info__terms {
  margin: 0;
}

.signup__info__terms > a {
  color: var(--neutral-colour);
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 600;
}

.signup__info__login > a {
  color: var(--secondary-colour);
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 600;
}

.signup__info__terms > a:hover,
.signup__info__login > a:hover {
  opacity: 80%;
}

/* Media Queries for Responsiveness */

/* For tablets */
@media (max-width: 1024px) {
  .signup {
    max-width: 100%;
    padding: 1.5rem;
  }

  .signup__btn {
    width: 300px;
  }
}

/* For mobile phones */
@media (max-width: 768px) {
  .signup {
    max-width: 95%;
    padding: 4.5rem;
  }

  .signup__form{
    place-content: normal;
    padding: 1rem;
  }

  .signup__btn {
    width: 100%;
  }

  .signup__header__title {
    font-size: 24px;
  }

  .signup__header__subtitle {
    font-size: 14px;
  }

  .signup__input {
    font-size: 0.9rem;
  }

  .signup__info{
    text-align: center;
  }

  .signup__info__terms, .signup__info__login{
    text-align: center;
    font-size: 12px;
  }

  .signup__info__terms > a {
    font-size: 10px;
  }
}
