@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/Lufga');


/* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

.langingImage_container{
    margin-left: 10rem;
    /* width: 100%; */
    justify-content: center;
}

.langingImage{
    width: 1152px;
    height: 453.22px;
    top: 159px;
    left: 180px;
    
    

}

.sell_faster_text{
    font-family: Lufga;
    font-size: 60px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.sell_Faster_main_div{
    display: flex;
    gap: 5rem;
    margin-top: 3rem;
    justify-content: center;
}

.start_selling{
    width: Hug (133px);
    height: Hug (42px);
    padding: 10px, 23px, 10px, 23px;
    border-radius: 42px;
    gap: 10px;
    background: #00A6A6 !important;

}

.arrow_div{
    width: 30%;
}

div > p{
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #5D5D5D;
}

.campus_creativity_main_div{
    background: #F2FFFF;
    /* width: 100%; */
    height: auto;
    padding: 2rem;
    margin-top: 4rem;
    justify-content: center;
}

.campus_creativity_heading{
    font-family: Lufga;
    font-size: 44px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    width: 662px;
    /* height: 126px; */
    top: 87px;
    left: 180px;
    margin-top: 6rem;
    margin-left: 3rem;
    color: #000000;
    margin-left: 7rem;
}

.campus_p_text{
    width: 90%;
}

Button{
    text-transform: capitalize !important;
}

.onboarding_instructions{
    display: flex;
    /* width: 100%; */
    /* gap: 10rem; */
    /* justify-content: center; */
}

.onboarding_number{
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #717171;
}

/* .onboard{
    width: 100%;
} */

.onboarding_title{
    font-family: Satoshi;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    width: 25rem;
}

.onboarding_text{
    width: 90%;
}
